<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="WriterDbContext"
             connectionString="Data Source=.;Initial Catalog=WriterServiceDB;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration> 